.nav-item {
    border-bottom: 3px solid transparent;
    color: #fff;
    list-style: none;
    padding: 20px 15px 0;
    transition: all .3s ease-in-out;
}

.nav-item:hover {
    border-bottom: 3px solid #e05929;
    cursor: pointer;
}

@media (min-width: 992px) {
    .nav-item.active {
        border-bottom: 3px solid #e05929;
    }
}